<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>头部</title>
</head>
<body>
    <div class="header_top">
	  	<ul>
	  		<span class="gf_span">官方网站：<a href="">联系我们</a></span>
	  		<li><a href="" id="mr">[我的订单]</a></li>
	  		<li><a href="">[我的购物车]</a></li>
	  		<li><span id="register">[免费注册]</span></li>
	  		<li><span id="login">[请登录]</span></li>
	  	</ul>
  	</div>
  	<div class="header_logo">
  		<div class="logo_img">
  			<img alt="Not Found Pic" src="img/logo.gif">
  			<img alt="Not Found Pic" src="img/banner.gif" style="margin-left:30px;">
  		</div>
  		<div class="rlink">
  			<ul>
  				<li><a>关于我们</a></li>
  				<li><a>联系方式</a></li>
  			</ul>
  		</div>
  	</div>
  	<div class="header_nav">
  		<ul>
	  		<li><a href="<%=basePath %>index.jsp">首页</a></li>
	  		<li><a href="">护肤</a></li>
	  		<li><a href="">彩妆</a></li>
	  		<li><a href="">香氛</a></li>
	  		<li><a href="">身体护理</a></li>
	  		<li><a href="">礼盒套装</a></li>
	  		<li><a href="">母婴专区</a></li>
	  		<li><a href="">男士专区</a></li>
	  		<li><a href="">粉底</a></li>
	  		<li><a href="">粉饼</a></li>
	  		<li><a href="">睫毛膏</a></li>
	  		<li><a href="">唇彩</a></li>
	  		<li><a href="">腮红</a></li>
	  		<li><a href="">食品保健</a></li>
  		</ul>
  	</div>
</body>
</html>