.item {
  border: 1px #ccc solid;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 10px #ccc;

}
h5 >.opt {
    width: 90px;
    font-size: 13px;
    display: inline;
    margin-left: 10px;
}
input.mybtn {
  margin-bottom:20px;
}